<p><%= physician.clinic_name %></p>
<p><%= physician.clinic_address %></p>
<p>
  <%= physician.clinic_locality %>,
  <%= physician.clinic_state_prov %>
</p>
<p><%= physician.clinic_zip_postal %></p>
<p><%= physician.clinic_country %></p>