<%= simple_form_for [@patient, @script] do |script| %>
  <h4>---Start of prescription set--- </h4>
  <%= script.input :med, label: "Name of Medication", placeholder: "Name of Medication" %>
  <%= script.input :dose, label: "Dosage", placeholder: "Dosage" %>
  <%= script.input :pill_count, label: "Pill Count/ oz.", placeholder: "Pill Count/ oz." %>
  <%= script.input :refills, placeholder: "Refills" %>
  <%= script.input :directions, placeholder: "Directions" %>
  <h4>---End of prescription set---</h4>
  <%= button_to "Finished Writing", patient_scripts_path(@patient) %>
<% end %>
