<p>Date: <%= script.date %></p>
<p>Medication: <%= script.med %></p>
<p>Dosage: <%= script.dose %></p>
<p>Directions: <%= script.directions %></p>
<p>Pill Count/ Total oz.: <%= script.pill_count %></p>
<p>Refills: <%= script.refills %></p>
<p> Prescribing Physician: <%= script.physician.name %></p>
