<%= render 'patients/patient_info', patient: @patient %>
<p>------ PRESCRIPTION BELOW------ </p>
<p>Medication: <%= @script.med %></p>
<p>Dosage: <%= @script.dose %></p>
<p>Directions: <%= @script.directions %>
<p>Pill Count/ Total oz.: <%= @script.pill_count %></p>
<p>Refills: <%= @script.refills %></p>
<p>----- PRESCRIBING PHYSICIAN ----</p>
<%= render 'physicians/physician_info', physician: @script.physician %>
