<h2> Sign Up </h2>
<h4> Step 1 of 2 </h4>
<%= form_for @user do |form| %>
  
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  
  <div>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  
  <div>
    I am a:<br>
    <%= form.radio_button :profile, 'Patient' %> Patient<br>
    <%= form.radio_button :profile, 'Physician' %> Physician <br>
    <%= form.radio_button :profile, 'Clinic' %> Clinic <br>
  </div>
  
  <div>
    <%= form.submit "Sign up" %>
  
  </div>
<% end %>
