<p>Dr. <%= physician.name %></p>
<p>Specialty: <%= physician.specialty %></p>
<p>State License: <%= physician.license_number %></p>
<p>DEA: <%= physician.dea_id %></p>
<p>NPI: <%= physician.npi_id %></p>
<p>UPIN: <%= physician.upin_id %></p>
<h2> CLINIC INFO</h2>
<p><%= physician.clinic_name %></p>
<p><%= physician.clinic_address %></p>
<p>
  <%= physician.clinic_locality %>,
  <%= physician.clinic_state_prov %>
</p>
<p><%= physician.clinic_zip_postal %></p>
<p><%= physician.clinic_country %></p>
