<h2> Step 2 of 2 </h2>

<%= simple_form_for @physician do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :gender %>
  <%= f.input :state_prov, :label => "State/Province" %>
  <%= f.input :license_number, as: :string %>
  <%= f.input :specialty %>
  <%= f.button :submit, "Complete Sign up" %>
<% end %>
