<!DOCTYPE html>
<html>
<head>
  <title>Directscripts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id ='user welcome'>
  <% if signed_in? && current_user.profile_created? %>
    Signed in as
    <%= current_user.profile_type %>:
    <%= current_user.profile.name %>
    <%= button_to 'sign out', session_path, method: :delete %>
  <% else %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
